.vip-place{
	display: none!important;
}
header{
	box-shadow: 0 2px 5px rgba(0,0,0,.4);
	padding:8px 0 10px 62px!important;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	right: 0!important;
	z-index: 99!important;
}
footer{
	display: none!important;
}
.modal .page-controls{
	/*padding-left: 62px!important;*/
}
.item-name{
	cursor: pointer!important;
}
.page-controls{
	position: fixed!important;
	top: 35px!important;
	left: 0!important;
	right: 0!important;
	z-index: 99!important;
}
